# --------------------- APP -----------------

# Not used right now but might be later for static site generation output
APP_ORIGIN=https://sub.example.com

# Built app will have NEXT_PUBLIC_* variables hard-coded
# GraphQL endpoint for queries and mutations
NEXT_PUBLIC_GRAPHQL_HTTP_URL=https://sub.example/api/graphql
# Graphql endpoint for subscriptions/messages
NEXT_PUBLIC_GRAPHQL_WS_URL=wss://sub.example.com/socket


# --------------------- CDK ------------------

# Creates domains in Route53, format "<zoneName>,<zoneId>,<primaryName>(,<aliases>);..."
DOMAIN="example.com,Z0586560EM5WK1J3SG9Q,sub.example.com"

# Certificate used by CloudFront for secure context, must already be created and in region "us-east-1"
CLOUDFRONT_CERTIFICATE_ARN=arn:aws:acm:us-east-1:342524242:certificate/4324234-43242-dsad-2e1

# SWS used for AWS IAM Authentication to connect to MongoDB Atlas using session token
STS_REGION=eu-west-1

# DynamoDB stores WebSocket state
DYNAMODB_REGION=eu-west-1
# Used for sending WebSocket messages
API_GATEWAY_MANAGEMENT_REGION=eu-west-1

# Secret "cfn/atlas/profile/default" must be defined in AWS Secrets Manager (in plaintext: { "PublicKey": "<public key value>", "PrivateKey": "<private key value>" })
MONGODB_ATLAS_PROFILE=default
# Existing MongoDB Atlas organization id
MONGODB_ATLAS_ORG_ID=1234dsads34242d
MONGODB_ATLAS_REGION=EU_WEST_1
# Name must be unique within an organization
MONGODB_ATLAS_PROJECT_NAME=my-project
MONGODB_ATLAS_CLUSTER_NAME=my-cluster
MONGODB_ATLAS_DATABASE_NAME=my-db

